%nav{ :class => "navbar navbar-default navbar-fixed-top" }
  %div{ :class => "container" }
    %div{ :class => "navbar-header page-scroll" }
      %button{ :type => "button", :class => "navbar-toggle", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1" }
        %span{ :class => "sr-only" } Toggle navigation
        %span{ :class => "icon-bar" }
        %span{ :class =>"icon-bar" }
        %span{ :class => "icon-bar" }
      %a{ :class => "navbar-brand page-scroll", :href => "#page-top" } TOYM.PH

    %div{ :class => "collapse navbar-collapse", :id => "bs-example-navbar-collapse-1" }
      %ul{ :class => "nav navbar-nav navbar-right" }
        %li{ :class => "hidden" }
          %a{ :href => "#page-top" }
        %li
          %a{ :class => "page-scroll", :href => "#page-top" } Home
        %li
          %a{ :class => "page-scroll", :href => "#about" } About
        %li
          %a{ :class => "page-scroll", :href => "#contact" } Contact
        %li
          %a{ :class => "page-scroll", :href => "#download" } Nomination Form

